{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="event-text padding">
{% for event in page.header.events %}
<h1> {{event.eventTitle|markdown}} </h1>
<div class="eventDetails">
<p> {{event.eventDate}} </p>
<p> {{event.eventTime}} </p>
<p> {{event.eventPrice}} </p>
</div>
<p>{{event.eventText|markdown}}</p>
<img class="pure-img" src="{{event.eventPhoto}}">
{% if event.eventSoldOut %}
<p>Sorry, all the tickets have gone!<p>

{% else %}
<a href="{{event.eventLink}}"><button class="pure-button pure-button-primary">Order Tickets Here</button></a>
{% endif %}
{%endfor%}
</div>
{% endblock %}
