{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="stylesheet" href="{{url('theme://css/normalize')}}">
    <link rel="stylesheet" href="{{url('theme://css/pure-min.css')}}">
    <link rel="stylesheet" href="{{url('theme://css/navigationStyle.css')}}">
    <link rel="stylesheet" href="{{url('theme://css/stylesheet.css')}}">

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div id="navigationMenu" class="header pure-menu pure-menu-horizontal home-menu pure-menu-fixed">
        <div class="wrapper padding">
            <a>
            </a>
            {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}



{% block headerimage %}
<div class="headerimage" style="background-image:url({% if page.header.mainimage %}{% endif %} {{pages.find('/home').header.mainimage}})"><div><h1>Four<br> Boroughs</h1><p>7-7 everyday</p><p>10 church road</p><p>crystal palace</p></div></div>
{% endblock %}

{% block body %}

    <section id="content-body">
      {#{% block title %}
      <div class="home-subtitle">7-7 everyday<br> 10 church road, crystal palace <br>se19 2rt</div>
      {% endblock %}#}
        <div class="wrapper">
        {% block content %}{% endblock %}
      </div>
      {%if page.header.contact%}
      <div id="contact" class="padding">
        {% include 'partials/contact.html.twig' %}
      </div>
      {% endif %}
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
          <p>10 church road</p><p>crystal palace</p><p>test@fourboroughs.co.uk</p><p>0123456789</p>
        </div>
    </div>
{% endblock %}

</section>

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
