{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="stylesheet" href="{{url('theme://css/normalize')}}">
    <link rel="stylesheet" href="{{url('theme://css/pure-min.css')}}">
    <link rel="stylesheet" href="{{url('theme://css/navigationStyle.css')}}">
    <link rel="stylesheet" href="{{url('theme://css/stylesheet.css')}}">

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div id="navigationMenu" class="header pure-menu pure-menu-horizontal home-menu pure-menu-fixed">
        <div class="wrapper padding">
          <div class="navigationLogo">
              <a href='/' class="pure-menu-link">
              <img src="user/themes/four-brghs/images/logo.png">

            </a>
          </div>
            {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}



{% block headerimage %}
<div class="headerimage" style="background-image:url(user/images/{% if page.header.mainimage %}{{page.header.mainimage}}{% else %}{{pages.find('/home').header.mainimage}}{% endif %})"><div><h1 class="{{page.header.headertitleclass}} {% if page.header.headerbackground %}headerBackground {% endif %}">{% if page.header.headerTitle %}{{page.header.headerTitle}}{% else %}FOUR<br>BOROUGHS{% endif %}</h1><!--<img class="pure-img" src='user/images/Web/Marque/FourB_Marque_Colour1.jpg'>--></div></div>
{% endblock %}

{% block body %}

    <section id="content-body">
        <div class="wrapper">
        {% block content %}{% endblock %}
      </div>
      {%if page.header.contact%}
      <div id="contact" class="padding">
        {% include 'partials/contact.html.twig' with { form: forms('contact-form') } %}
      </div>
      {% endif %}
{% endblock %}
{#<p>{{pages.find('/details').header.times}}</p><p>{{pages.find('/details').header.address1}}</p><p>{{pages.find('/details').header.address2}}</p>#}
{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
          <h2> {{pages.find('/details').header.footertext|markdown}} </h2>
          <p>{{pages.find('/details').header.address1}}</p><p>{{pages.find('/details').header.address2}}</p><p>{{pages.find('/details').header.email}}</p><p>{{pages.find('/details').header.telephone|markdown}}</p>
        </div>
    </div>
{% endblock %}

</section>

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
